     //mixins

@mixin clearFixFloat{
	&:after,&:before{
		content: "";
		display: block;
		clear: both;
	}
}
@mixin BorderBoxAll{
	*,*:after,*:before{
	-moz-box-sizing: border-box;
	-ms-box-sizing : border-box;
	-webkit-box-sizing: border-box;
	 box-sizing: border-box;
	}
}
@mixin MakeGrid($cols,$col_gap,$row_gap){
	display: grid;
	grid-template-columns: repeat(#{$cols},1fr);
	grid-column-gap: $col_gap;
	grid-row-gap: $row_gap;
}
@mixin BorderRadius($radius){
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-webkit-border-radius: $radius;
	 border-radius: $radius;
}
@mixin Borderradius($top,$right,$bottom,$left){
	-moz-border-radius: $top $right $bottom $left;
	-ms-border-radius: $top $right $bottom $left;
	-webkit-border-radius: $top $right $bottom $left;
	 border-radius: $top $right $bottom $left;
}
@mixin StyleForm{
	z-index:100;
	width: 25%;
	// margin: 0 auto;
	background: #fff;
	@include BorderRadius(5px);
	.cancle_button{
		position: absolute;
		top: 1px;
		right: 1px;
		background: #fff;
		width: 20px;
		height: 20px;
		@include BorderRadius(50%);
		text-align: center;
		cursor: pointer;
		font-family: 'Black And White Picture', sans-serif;
	}
	label{
		display: block;
		font-family: 'Gloria Hallelujah', cursive;
		padding: 5px;
		margin-top:10px;
		margin-bottom: 10px;
	}
	input{
		display:block;
		width: 98%;
		height: 40px;
		margin-left:1%;
		margin-right: 1%;
		@include BorderRadius(5px);
		border:1px solid #cbcbcb;
	}
	button{
		font-family: 'Gloria Hallelujah', cursive;
		display: block;
		margin:5px auto;
		width: 100px;
		@include BorderRadius(5px);
		border:0;
		cursor: pointer;
		&:hover{
			background: #000;
			color: #fff;
		}
	}
	.btn{
		margin-top: 5px;
		padding:3px;
		background: #cbcbcb;
		@include Borderradius(0,0 ,5px ,5px );
	}
	header{
		position: relative;
			h2{
			text-align: center;
			font-family: 'Gloria Hallelujah', cursive;
			background: #cfcfcf;
			height: 30px;
			vertical-align: baseline;
			-moz-border-radius: 5px 5px 0 0;
			-ms-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			padding-top: 5px;
		}
	}
}